:root {
    --main-text-cl: #757575;
    --accent-cl: #2196F3;
    --black-cl: #212121;
    --white-cl: #FFFFFF;
    --dark-bg-cl: #2F303A;
    --grey-bag-cl: #F5F4FA;
    --rgb: rgba(255, 255, 255, 0.6)
}
html {
    box-sizing: border-box;
}
body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    color: var(--main-text-cl);
}
h1,
h2,
h3,
h4,
p {
    margin-top: 0;
}
p {
    margin-bottom: 50px;
  }
img {
    display: block;
    max-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.footerlist {
    list-style: none;
}
.link {
    color: inherit;
    text-decoration: none;
}
.link:hover,
.link:focus {
    color: var(--accent-cl);
}
.header {
    background-color: tomato;
    margin-top: 24px;
    margin-bottom: 24px;
}
.header-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header .logohed {
    margin-right: 93px;
}
.header .mail-link {
    margin-right: 50px;
}
.navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.menu {
    display: inline-flex;
}
.menu-item:not(:last-child) {
    margin-right: 50px;
}
.logohed {
    font-family: Raleway,sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1,192;
    letter-spacing: 0.03em;
    color: var(--accent-cl);
}
.logofot {
    font-family: Raleway,sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1,192;
    letter-spacing: 0.03em;
    color: var(--accent-cl);

}
.logo-first {
    color: var(--black-cl);
}
.logo-part {
    color: var(--white-cl);
}
.phone {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,144;
    letter-spacing: 0.02em;
    color: var(--main-text-cl);
}
.mail {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,144;
    letter-spacing: 0.02em;
    color: var(--main-text-cl);
}
.address {
    color: var(--white-cl);
}
.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1,144;
    letter-spacing: 0.02em;
    color: var(--black-cl);
}
    .studio:hover,
    .studio:focus {
        color: var(--accent-cl);
    }
    .studio {
        color: var(--black-cl);
    }
    .current {
        color: var(--accent-cl);
    }
    .hero {
     padding-top: 200px;
     max-width: 770px;
     margin-bottom: 94px;
     letter-spacing: 0.06em;
     text-align: center;
     height: 600px;
     align-items: center;
     font-weight: 900;
     margin-right: auto;
     margin-left: auto;
 }
.btn {
    /* Заказать услугу */
    display: inline-block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 200px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    color: var(--white-cl);
    letter-spacing: 0.06em;
    background-color: var(--accent-cl);
    
}
  
.btn:hover {background-color: var(--accent-cl);
    color: white;
}

.about {
    padding-top: 94px;
    padding-bottom: 94px;
}
.btnport {
    height: 38px;
    left: 576px;
    top: 174px;
    background: var(--grey-bag-cl);
    border-radius: 4px
}
.portbtn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-cl);
}
.skills {
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc(100% / 4 - 30px);
}
.zadacha {
    font-size: 14px;
    line-height: 1,144;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--black-cl);
    margin-bottom: 10px;
}
.text {
    margin-bottom: 0px;
    line-height: 1.714;
    max-width: 270px;
}
.text:not(:last-child) {
    margin-right: 30px;
}
.whatwedo {
    font-weight: bold;
    font-size: 36px;
    line-height: 1,167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-cl);
    padding-top: 0;
    padding-bottom: 50px;
}
.whatwedo-list {
    flex-wrap: wrap;
    margin-top: -30px;
    margin-left: -30px;

}
.whatwedo-item {
    padding-bottom: 0;
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 3 - 30px);
}
.team-bg {
    background-color: var(--grey);
}
.team {
    font-weight: bold;
    font-size: 36px;
    line-height: 1,167;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--black-cl);
}
.team-item {
    margin-top: 30px;
    margin-left: 30px;
    flex-basis: calc(100% / 4 - 30px);
    background-color: var(--white);
  }
.photo-team {
    margin-bottom: 30px;
  }

.title {
    font-family: Roboto,sans-serif;
    font-weight: 700;
    letter-spacing: 0.03em;
    color: var(--black-cl);
}
.page-title {
    display: inline-block;
    margin-bottom: 30px;
    max-width: 696px;
    color: var(--white);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.section-title {
    font-size: 36px;
    line-height: 1,167; 
}
.name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1,187;
    text-align: center;
    color: var(--black-cl);
    margin-bottom: 10px;
}
.team-position {
    text-align: center;
    font-size: 16px;
    line-height: 1,187;
    letter-spacing: 0.03em;
    color: var(--main-text-cl);
    padding-bottom: 30px;
    margin-bottom: 0;
    text-align: center;
}

.label {
    font-weight: normal;
    font-size: 16px;
    line-height: 1,18;
    text-align: center;
    color: var(--main-text-cl);
}
.fotter {
    padding-top: 60px;
    padding-bottom: 60px;
}
.footer-item:not(:last-child) {
    margin-bottom: 9px;
}
.dark-bg {
    background-color: var(--dark-bg-cl);
}
.dark-bg .btn,
.dark-bg .page-title {
    color: var(--white-cl);
}
.portfolio-name {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--black-cl);
}
.portfolio-menu {
    font-size: 16px;
    line-height: 1,87;
    letter-spacing: 0.03em;
    color: var(--main-text-cl);
}
